<section>
	<ol>
		<li>
			<a href="index.html">Home</a>
		</li>
		<li>Portfolio</li>
	</ol>
</section>

<section>
	<h2>Portfolio</h2>
	<img src="images/portfolio1.jpg" alt="Portfolio example">
	<a href="#">Project Title</a>

	<img src="images/portfolio2.jpg" alt="Portfolio example">
	<a href="#">Project Title</a>

	<img src="images/portfolio3.jpg" alt="Portfolio example">
	<a href="#">Project Title</a>

	<img src="images/portfolio1.jpg" alt="Portfolio example">
	<a href="#">Project Title</a>

	<img src="images/portfolio2.jpg" alt="Portfolio example">
	<a href="#">Project Title</a>

	<img src="images/portfolio3.jpg" alt="Portfolio example">
	<a href="#">Project Title</a>
</section>

<section>
	<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis debitis magnam sit minus tempora maiores fugiat quas eos aperiam enim iure pariatur placeat amet dignissimos est nesciunt dolores laborum nostrum.</h2>
</section>

<section>
	<h2>Our Clients</h2>
	<img src="images/clients1.png" alt="Client1">		
	<img src="images/clients2.png" alt="Client2">		
	<img src="images/clients3.png" alt="Client3">	
	<img src="images/clients4.png" alt="Client4">
	<img src="images/clients1.png" alt="Client1">
	<img src="images/clients2.png" alt="Client2">
</section>